/* Add your own CSS code below */
.heart{
    color:#c85308;
}
@media (min-width:992px){
    
       .hero__title{
           font-size: larger;
       }
}

.main-nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media (min-width:767px){
    .site-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}
@media (min-width:767px){
    .site-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .views {
display: flex;
justify-content: space-evenly;
    }
    .main-nav__list-item{
        margin-left: 10%;
    }
    .view a {
        margin-left: 25px;
    }
    
}